language: node_js
sudo: false
node_js:
  - "0.10"
  - "0.12"
  - "4.0"
  - "4.1"
  - "iojs-v1.8"
  - "iojs-v2.5"
  - "iojs-v3.3"
before_install:
  - npm install -g grunt-cli
notifications:
  email:
    recipients:
      - andris@kreata.ee
      - github@josef-froehle.de
    on_success: change
    on_failure: change
